@font-face {
	font-family: 'fkg-black';
	src: url('/fonts/grotesk/FamiljenGrotesk-Bold.ttf') format('TrueType');
}
@font-face {
	font-family: 'fkg-bold';
	src: url('/fonts/FKGN/FKGroteskNeueTrial-Bold-BF6576818bd3700.otf') format('OpenType');
}
@font-face {
	font-family: 'fkg-regular';
	src: url('/fonts/FKGN/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf') format('OpenType');
}

:root {
	/* Fonts */
	--base-size: 1.2rem;
	--lineHeight: 1.6;

	/* fonts scale */
	--scale: 1.25;
	--xl: calc(var(--lg) * var(--scale));
	--lg: calc(var(--h1) * var(--scale));
	--h1: calc(var(--h2) * var(--scale));
	--h2: calc(var(--h3) * var(--scale));
	--h3: calc(var(--h4) * var(--scale));
	--h4: calc(var(--h5) * var(--scale));
	--h5: calc(var(--h6) * var(--scale));
	--h6: var(--base-size);
	--sm: calc(var(--base-size) / var(--scale));
	--xs: calc(var(--sm) / var(--scale));
	/* --placeholder: calc(var(--base-size) var(--scale));
 */
	/* calculate base on vw */
	--placeholder: clamp(1rem, -0.25rem + 4vw, 2rem);
	/* typography */
	/* --ff-inter: 'Inter', sans-serif;
	--ff-gilroy: 'Gilroy', sans-serif;
	--ff-gilroy-m: 'Gilroy-m', sans-serif;
	--ff-gilroy-l: 'Gilroy-l', sans-serif;
	--ff-gilroy-smb: 'Gilroy-smb', sans-serif;
	--ff-gunterhaus: 'Gunterhaus', sans-serif;
	--ff-montreux: 'Montreux', sans-serif; */

	/* font families */
	--ff-fkg-black: 'fkg-black', sans-serif;
	--ff-fkg-bold: 'fkg-bold', sans-serif;
	--ff-fkg-regular: 'fkg-regular', sans-serif;

	/* Colors */
	--clr-transparent: transparent;
	--clr-main-bg: hsl(45, 60%, 96%);

	--hsl-brand: 13 100% 56%;
	--hsl-off-white: 33 77% 96%;

	--hsl-white: 0 0% 98%;
	--hsl-purple: 260 82% 71%;
	--hsl-purple2: 303 49% 39%;
	--hsl-blue: 218 87% 69%;
	--hsl-green: 162 80% 59%;
	--hsl-pink: 301 55% 69%;
	--hsl-yellow: 43 87% 69%;
	--hsl-yellow-2: 38 100% 69%;
	--hsl-cyan: 180 50% 50%;
	--hsl-red: 350 100% 65%;
	--hsl-gray: 213 36% 27%;
	--test: hsl(230, 65%, 25%);

	/* Allerts */

	--hsl-info: 212 80% 60%;
	--hsl-success: 154 80% 70%;
	--hsl-warning: 45 90% 70%;
	--hsl-error: 354 90% 65%;

	--clr-brand: color-mix(in oklab, hsl(var(--hsl-brand)) 65%, white);
}
/* SVG */

/* MEDIA QUERIES */
/**
* 640px - sm - small devices (mobile) 
* 768px - md - medium devices (tablet)
* 1024px - lg - large devices (desktops)
* 1280px - xl - extra large devices (large desktops)
* 1536px - xxl - extra extra large devices (larger desktops)
*/

/* GLOBAL */
/* MAIM PAGE GRID */
/* Page smooth scroll */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
	font-family: var(--ff-fkg-regular);
	/* position: relative; */
}
/* global body setting */
body {
	margin: 0;
	padding: 0;
	font-size: clamp(1rem, 0.5vw + 0.5rem, 1.125rem);
	letter-spacing: 0.03rem;
	line-height: var(--lineHeight);
	color: hsl(var(--hsl-gray));
	background: var(--clr-main-bg);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
	font-family: var(--ff-fkg-black);
	font-size: clamp(2.441rem, calc(1.6rem + 1vw), 3.052rem);
	line-height: 1;
	letter-spacing: -0.025em;
	color: hsl(var(--hsl-gray));
	margin-block: 0;
}

h3,
h4,
h5,
h6 {
	font-family: var(--ff-fkg-regular);
	line-height: 1;
	letter-spacing: -0.025em;
	color: hsl(var(--hsl-gray));
	margin-block: 0;
}
svg {
	display: block;
}
/* max width of plain text */
p,
ul,
ol {
	max-width: 72ch;
}

p {
	line-height: 1.4;
	margin-bottom: 1rem;
}

p:last-child {
	margin-bottom: 0;
}

ul,
ol {
	list-style-type: square;
	margin-bottom: 1.6rem;
}

/* Links */
a {
	color: hsl(var(--hsl-gray));
}

a:hover {
	text-decoration: underline;
	color: hsl(var(--hsl-brand));
}

strong {
	letter-spacing: 0.05rem;
}

/* Top level container */
.page__c {
	padding: 1rem;
	max-width: 1474px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr;
}

/* Content - ASIDE & MAIN */
.main__c {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-areas: 'aside aside aside main main main main ';
	grid-column: 1/-1;
	gap: 1rem;
}

h1,
.h1 {
	font-size: clamp(1.953rem, calc(1.4rem + 1vw), 3.052rem);
	margin-bottom: 1.6rem;
}

h2,
.h2 {
	font-size: clamp(1.536rem, calc(1.2rem + 1vw), 2.441rem);
	margin-bottom: var(--h3);
}

h3,
.h3 {
	font-size: clamp(1.536rem, calc(1rem + 1vw), 1.993rem);
	margin-bottom: var(--h4);
}

h4,
.h4 {
	font-size: clamp(1.25rem, calc(0.9rem + 1vw), 1.563rem);
	margin-bottom: var(--h5);
}
h5,
.h5 {
	font-size: clamp(1rem, calc(0.8rem + 1vw), 1.25rem);
	margin-bottom: var(--h6);
}
h6,
.h6 {
	font-size: clamp(1rem, calc(0.8rem + 0.5vw), 1rem);
	margin-bottom: var(--base-size);
}

/* RTE ARTICLE */

.article-title h2,
.article-title h3,
.article-title h4,
.article-title h5,
.article-title h6 {
	color: hsl(var(--hsl-gray));
	margin-bottom: 0;
}

article .article-title:not(:first-child),
article .article-title h3 {
	padding-block: 0.5rem 0;
}

article > p:first-child {
	margin-top: 0;
}
/* Table of content  */
.toc-active {
	color: hsl(var(--hsl-brand)) !important;
}
/* LINKS */
/* decorative - eg. on home page*/
.decorative_link__c {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid hsl(var(--hsl-gray) / 0.15);
	padding-right: 1rem;
	text-decoration: none;
	& .dots {
		margin-right: 1rem;
	}
	& .link-header {
		padding-top: 1.4rem;
		display: flex;
		& h3 {
			margin: 0;
			margin-bottom: 0.25rem;
			transition: color 0.25s ease-in-out;
		}
		& p {
			font-size: var(--sm);
			color: hsl(var(--hsl-gray) / 0.5);
			margin: 0;
			margin-bottom: 0.75rem;
			transition: color 0.25s ease-in-out;
		}
	}
	&:hover {
		text-decoration: none;
		p {
			color: hsl(var(--hsl-gray));
		}
		& h3 {
			color: hsl(var(--hsl-gray));
		}
		& svg {
			transition: 0.3s ease;
			fill: hsl(var(--hsl-brand));
		}
	}
}
